@import "tailwindcss";

@font-face {
  font-family: 'After';
  src: url('./assets/fonts/after-regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CanvaSans-Regular';
  src: url('./assets/fonts/CanvaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CanvaSans-Medium';
  src: url('./assets/fonts/CanvaSans-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CanvaSans-Bold';
  src: url('./assets/fonts/CanvaSans-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: #161518;
}

h1 {
  font-family: 'CanvaSans-Bold', sans-serif;
  letter-spacing: 1px;
  color: white;
}

h2 {
  font-family: 'CanvaSans-Bold', sans-serif;
}

.page {
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-title {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.hero-para {
  display: flex;
  font-family: 'CanvaSans-Regular', sans-serif;
  justify-content: center;
  margin-top: 0.5rem;
}

input:focus {
  outline: none;
}

.search-icon {
  width: 25px;
}

.place-container {
  border-radius: 1rem;
}

.place-card {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.49);
  border-radius: 1rem;
  padding-bottom: 1rem;
}

.place-image {
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.form-container {
  padding: 2rem;
  border-radius: 1rem;
}

.new-form {
  input:focus {
    background-color: #b1bdc5;
  }

  textarea:focus {
    outline: none;
    background-color: #b1bdc5;
  }

  color: black;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */

  button {
    /* background-color: blue; */
  }
}

.input-field {
  border: 2px solid grey;
  /* padding: 2px 0; */
  padding-left: 6px;
  border-radius: 0.5rem;
  background-color: #dadde2;

}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.panel-div {
  input {
    margin-left: 1rem;
  }
  label{
    margin-left: 0.3rem;
  }

}
